.backgroundImage{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: crosshair;
  background-position: center;
}

.input-field{
  background-color: rgba(0,0,0, 0.7);
  position: absolute;
  display: grid;
  place-items: center;

  width: 100%;
  height: 100%;
  font-size: 1vmax;
  color: white;
  text-align: start;
  word-break: break-all;
  overflow-wrap: break-word;
  resize: none;
}

.file-input{
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}